APP_ENV=local
APP_NAME=OBet
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=true

DATABASE_URL=postgresql+psycopg2://obet:obet@localhost:5432/obet

JWT_SECRET=change_me_in_production_very_long_secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

OPAY_SECRET_KEY=opay_test_sk_XykBteGRvJ9bgqnPPLau5KtiVHrVm4Yp
OPAY_BASE_URL=https://staging.opay.orbtronics.co

FRONTEND_URL=http://localhost:3000
CORS_ORIGINS=["http://localhost:3000","http://localhost:3001"]

PLATFORM_FEE_PCT=2
